@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300);

body{
/* its always best to set up the fonts for the whole page first */


	font-family: 'Source Sans Pro', sans-serif;
	font-size: 17px;
	line-height: 1.5;
	color:#585858;
	font-weight: 300; 

/*
 the shorthand for declaring font properties goes:
font: weight size/line-height primary-font, fallback font
*/
	/*font: 300 16px/1.5 'Source Sans Pro', sans-serif;
	color:#777777; */

}
/* 
the expanded margin properties grouped below are the same as the shorthand version just below it
div{

margin-top: 40px;
margin-right: 60px;
margin-bottom: 20px
margin-left:10px;
	
	margin: 40px 60px 20px 10px;
}
*/




#calculator{
	
	float:left;
    text-align:center;
    background-color:#C8E0E8;
    width: 50%;
    height: 100vH;

}

#calculator h1{
	margin-top: 50px;
	margin-bottom: 50px;
	font-weight: 400;

}

#calculator2{
	
	float: right;
    text-align:center;
    background-color:#EDE0B4;
    width: 50%;
    height:100vH;

}
#calculator2 h1{
	margin-top: 50px;
	margin-bottom: 50px;
	font-weight: 400;

}


#result{
	margin-top: 25px;
	color: red;
}


form {
	max-width: 350px;
	margin: 10px auto 0 auto;
	
}


/* unputs and textareas come with a lot of default styles
that need to be overridden*/
input,
textarea {

	/* over*/

border:none;
width: 50%;

/* overrides the default padding of 10px */

padding: 10px;
margin: 10px 0;
border-radius: 3px;
text-align:center;

}

textarea { 
	/* override the default (small) height */
	height: 150px;

	/* it's only going to allow us to resize the textarea along the vertical axis*/

    resize: vertical;
}

select {

	height: 45px;
	width: 350px;
	text-align: center;
}



/* this is an attribute selector, which allows us to select elements that match certain
attributes*/

input[type="button"] {

	background-color:#4D464F;
	color: #fff;
	width:35%;


/* this will tell the button to use the hand pointer cursor
instead of the standard mouse (signals that it's somehting
that needs to be clicked */

	cursor: pointer;
}
input[type = "number"]{
	color:#585858;
}
input[type = "text"]{
	color:#585858;
}


input,
select,
option,
textarea {
	outline: none;
	text-align: center;
	/* this will allow us to have a nice transition of
	the box shadow when the user clicks on the inputs */


	box-shadow: 0 0 4px rgba(0,0,0,0);
	transition: box shadow 0.3s;
}

/* this state is triggered when the cursor is currently
active inside of the inputs/textareas */

input:focus,
select:focus,
option:focus,
textarea:focus{
	box-shadow: 0 0 4px rgba(0,0,0,0.5);
}



@media screen and (max-width: 700px) {

body{
	text-align:center;
	min-width:500px;
}
	header{
		position:static;
		/* align everything in the middle */
		

	}

	h1,
	nav{ float:none;

	}
	h1{
		padding-bottom: 0;
	}

	nav a{

		padding: 20px;
	}
.intro {
	margin-top:0;
}
.input{float:none;
}
.income{float:none;
height:100vH;
}

.result{float:left;}
.result img{display:none;}
.value{padding:100px 25px 100px 25px;
}
.when{padding:100px 25px 100px 25px;}
.how {padding:100px 25px 100px 25px;}
.input{width:100%;}
.income{width:100%;
}

#fixedtermcalc{padding:0 0 0 0;}
#fixedtermcalc2{padding:0 0 0 0;}

.disclaimer{padding: 0 0 0 0;}




}






